// === Import === //
@use "abstract" as *;

// === Components === //
@use "components/app/topbar.scss";

@font-face {
    font-family: "NetflixSans";
    src: url("../fonts/NetflixSans-Light.otf") format("opentype"), 
         url("../fonts/NetflixSans-Bold.otf") format("opentype"),
         url("../fonts/NetflixSans-Bold.woff2") format("woff2"),
         url("../fonts/NetflixSans-Light.woff2") format("woff2"),
         url("../fonts/NetflixSans-Medium.otf") format("opentype"),
         url("../fonts/NetflixSans-Medium.woff2") format("woff2"),
         url("../fonts/NetflixSans-Regular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NetflixSans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  