// === Colors === //
$color-primary: #e50914;
$color-blue: #0071eb;
$color-white: #fff;
$color-black: #000;

// === Fonts === //
$fs-1: clamp(1rem, 2vw, 2rem);
$fs-2: clamp(.9rem, 1.5vw, 1.5rem);
$fs-3: clamp(.8rem, 1.2vw, 1.2rem);
$fs-4: clamp(.7rem, 1vw, 1rem);
$fs-5: clamp(.7rem, .8vw, .9rem);
$fs-6: clamp(.7rem, .7vw, .8rem);

// === Border === //
$radius-1: 20px;